<!doctype html>
<html lang="fr">
  <head>
    <title>Very Road Trip - ESF Challenge</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Very Road Trip est une entreprise développant un agent de voyage digital!">
    <meta name="author" content="rivetta.fr">
    <!-- Responsive and mobile friendly stuff -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#043762">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#043762">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#043762">
    <!-- FAVICON -->
    <link rel= "icon" href="/favicon.ico" type="image/x-icon">
    <link rel= "shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> <!-- load bootstrap css -->

    <link rel="stylesheet" href="/css/style.css"> <!-- load customer style -->
    <!-- Responsive Stylesheets -->
    <link rel="stylesheet" media="only screen and (max-width: 768px) and (min-width: 481px)" href="/css/medium.css">
    <link rel="stylesheet" media="only screen and (max-width: 480px)" href="/css/small.css">
    <!-- <link rel="stylesheet" href="/leaflet/leaflet.css"> -->
    <!-- <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/jquery-3.3.1.min.js"></script>
  </head>
  <body>
  <% if (typeof content != 'undefined'){ %>
    <div class="wrapper">
      <header>
        <div class="logo"><a href="/"><img src="/images/veryroadtrip.png" alt="Very Road Trip"></a></div>
        <!--START BURGER -->
        <div class="menu-item menu-item-returntomap"><a href="/" class="link-menu"></a></li>
      </header>
      <!--END BURGER -->
      <main class="container-fluid mt-5 mb-5 main">
          <%- include(content); %>
      </main>
    </div>
    <footer >
        <img class="logobottom" src="images/very-road-trip-bottom.jpg" alt="Very Road Trip"><p><a href="tel:+33-6-58-64-74-02">06 58 64 74 02</a></p>
    </footer>
  <% } %>
  </body>
</html>