<!-- views/forgot.ejs -->
<div class="container">
		<!-- LOGIN FORM -->
		<form id="forgotform" name="forgotform"  action="/forgot" method="post">
			<div class="form-group">
				<label><%= __('Email') %></label>
				<input type="email" class="form-control" name="email">
			</div>
			<button type="submit" class="btn btn-perso btn-lg"><%= __('Reset Password') %></button>
		</form>
		<hr>
</div>
<script>
	$(document).on('submit',"#forgotform",function (event) {
		event.preventDefault();
		// Check each field has a value
		if ( this.email.value == '' || !validateEmail(this.email.value) ) {
            appendAlert("#password","<%= __('Vous devez fournir un email valide. Veuillez réessayer') %>");
            this.email.focus();
			return false;
        }
        this.submit();
    });
</script>